.about {
  margin-bottom: 82px;

  @media (min-width: $tablet-width) {
    margin-bottom: 60px;
  }
}

.about__title {
  margin: 0;
  font-size: 18px;
  line-height: 26px;
  padding-top: 26px;
  padding-bottom: 30px;
  text-align: center;
}

.about__lead {
  margin: 0;
  // margin-bottom: 20px;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
}

.about__back {
  position: relative;
  height: 389px;
  width: 100%;

  @media (min-width: $tablet-width) {
    height: 518px;
  }
}

.about__back-text {
  position: absolute;
  left: calc(50% - 141px);
  top: 146px;

  @media (min-width: $tablet-width) {
    height: 350px;
  }
}

.about__wrapper {
  @media (min-width: $tablet-width) {
    padding: 0 27px 0 32px;
  }

  @media (min-width: $desktop-width) {
    margin: auto;
    max-width: 1072px;
  }
}
