.advantages {
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.advantages__wrapper {
  background-color: $white;
}

.advantages__list {
  margin: 0;
  margin-bottom: 14px;
  padding: 0;
  padding-top: 7px;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 0;
    padding-top: 27px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    padding-top: 15px;
  }
}

.advantages__item--blue {
  grid-column-start: 1;
  grid-column-end: 4;
  // height: 256px;
  color: $white;
  background-color: $blue;
}

.advantages__city {
  // position: relative;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 256px 1fr;
    min-height: 256px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 400px 1fr;
    min-height: 256px;
  }
}

// .advantages__city::before {
//   content: "";
//   position: absolute;
//   // left: 3%;
//   left: calc(59% - 185px);
//   width: 0;
// 	height: 0;
// 	border-left: 152px solid transparent;
// 	border-right: 152px solid transparent;
// 	border-top: 15px solid $white;
// }

.advantages__city::before {
  @media (max-width: $mobile-width-only) {
    content: "";
    position: absolute;
    // bottom: -1px;
    // bottom: calc(20% - 139px);
    // top: 98%;
    bottom: -1px;
    // width: 160px;
    width: 50%;
    // height: 20px;
    height: 5%;
    background-color: $white;
    transform: rotate(175deg);
  }
}

.advantages__city::after {
  @media (max-width: $mobile-width-only) {
    content: "";
    position: absolute;
    bottom: -1px;
    // bottom: calc(20% - 139px);
    // top: 98%;
    // width: 160px;
    left: 1%;
    width: 50%;
    height: 5%;
    background-color: $white;
    transform: rotate(5deg);
  }
}

.advantages__city-text {
  padding-top: 50px;
  padding-left: 29px;
  padding-right: 30px;
  padding-bottom: 38px;

  @media (min-width: $tablet-width) {
    padding-top: 40px;
    padding-left: 34px;
    padding-right: 34px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 47px;
    padding-bottom: 30px;
    // padding-left: 95px;
    // padding-right: 92px;
  }
}

.advantages__bridge {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 256px;
    // margin-top: 32px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 400px;
  }
}

.advantages__bridge-text {
  padding-top: 40px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 35px;

  @media (min-width: $tablet-width) {
    grid-column-start: 2;
    grid-column-end: 3;
    padding-top: 43px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 51px;
  }
}

.advantages__bridge-image {
  @media (min-width: $tablet-width) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }
}

.advantages__item--grey {
  padding-top: 26px;
  padding-bottom: 25px;
  color: $black;
  background-color: $light-grey;
  padding-left: 36px;
  padding-right: 38px;
  // margin-bottom: 58px;

  @media (min-width: $tablet-width) {
    padding-top: 43px;
    padding-bottom: 42px;
    padding-left: 40px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 45px;
    padding-bottom: 62px;
    padding-left: 50px;
    padding-right: 50px;
  }
}

.advantages__title {
  margin: 0;
  padding-bottom: 7px;
  font-size: 18px;
  line-height: 26px;
  text-align: center;

  @media (min-width: $tablet-width) {
    // padding-left: 29px;
    // padding-right: 68px;
    padding-bottom: 10px;
    font-size: 21px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 65px;
    padding-right: 65px;
    // width: 119px;
    // font-size: 18px;
  }
}

.advantages__number {
  display: block;
  font-size: 14px;
  line-height: 26px;
  text-align: center;

  // @media (min-width: $desktop-width) {
  //   font-size: 10px;
  // }
}

.advantages__description {
  margin: 0;
  padding-top: 15px;
  // padding-bottom: 38px;
  font-size: 14px;
  line-height: 21px;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding-top: 20px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 30px;
    padding-right: 30px;
    // width: 295px;
    // font-size: 10px;
  }
}

.advantages__image {
  width: 100%;
  // height: 100%;
  object-fit: cover;
  vertical-align: bottom;
}
