.advantages {
  margin-top: 32px;
}

.advantages__wrapper {
  @media (min-width: $tablet-width) {
    padding: 0 27px 0 31px;
  }

  @media (min-width: $desktop-width) {
    margin: auto;
    max-width: 1072px;
  }
}

.advantages__list {
  margin: 0;
  margin-bottom: 14px;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.advantages__item--bridge,
.advantages__item--city {
  grid-column-start: 1;
  grid-column-end: 4;
  padding-top: 51px;
  color: $white;
  background-color: $blue;
}

// .advantages__item--bridge {
//   @media (min-width: $tablet-width) {
//     display: grid;
//     grid-template-columns: 1fr 1fr;
//   }
// }

// .advantages__item--city {
//   @media (min-width: $tablet-width) {
//     display: grid;
//     grid-template-columns: 1fr 1fr;
//   }
// }

// .advantages__bridge-image {
//   @media (min-width: $tablet-width) {
//     grid-column-start: 1;
//     grid-column-end: 3;
//     grid-row-start: 1;
//     grid-row-end: 6;
//   }
// }

.advantages__item--grey {
  padding-top: 47px;
  color: $black;
  background-color: $light-grey;
  margin-bottom: 58px;
}

.advantages__title {
  margin: 0;
  padding-bottom: 8px;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
}

.advantages__number {
  display: block;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
}

.advantages__description {
  margin: 0;
  padding-top: 15px;
  padding-bottom: 38px;
  text-align: center;
}
