.booking {
  margin-bottom: 39px;
}

.booking__title {
  margin: 0;
  padding-bottom: 30px;
}

.booking__description {
  margin: 0;
  padding-bottom: 27px;
}

.booking__wrapper {
  @media (min-width: $tablet-width) {
    padding: 0 27px 0 32px;
  }

  @media (min-width: $desktop-width) {
    margin: auto;
    max-width: 1072px;
  }
}
