.booking {
  margin-bottom: 39px;
}

.booking__title {
  font-size: 21px;
  line-height: 26px;
  margin: 0;
  padding-bottom: 20px;
  text-align: center;
}

.booking__text {
  margin: 0;
  padding-bottom: 27px;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

.booking__map-image {
  width: 100%;
}

.booking__wrapper {
  @media (min-width: $tablet-width) {
    padding: 0 27px 0 32px;
  }

  @media (min-width: $desktop-width) {
    margin: auto;
    max-width: 1072px;
  }
}
