.elements__list {
  padding: 0;
  list-style: none;
  cursor: pointer;

  @media (min-width: $desktop-width) {
    margin: 0;
    padding-bottom: 85px;
  }
}

.elements__action path {
  @media (min-width: $tablet-width) {
    fill: $white;
  }
}

.elements__action path:hover {
  @media (max-width: $mobile-width-only) {
    fill: $darkgrey;
  }
}

.elements__action path:active {
  @media (max-width: $mobile-width-only) {
    fill: rgba($darkgrey, 0.3);
  }
}

.elements__item {
  position: relative;

  @media (min-width: $desktop-width) {
    padding-left: 1;
    padding-right: 1;
    width: 100%;
  }
}

.elements__item::after {
  content: "";
  position: absolute;
  z-index: -1;
  height: 80px;
  top: 0;
  bottom: 0;
  left: 6%;
  right: 6%;
  margin: auto;
  background-color: $palegrey;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.elements__action-replay {
  position: absolute;
  left: 14%;

  @media (min-width: $tablet-width) {
    bottom: 65px;
    left: 5%;
  }

  @media (min-width: $desktop-width) {
    bottom: 48px;
    left: 4%;
  }
}

.elements__action-subtitles {
  position: absolute;
  right: 30%;

  @media (min-width: $tablet-width) {
    bottom: 65px;
    right: 14%;
  }

  @media (min-width: $desktop-width) {
    bottom: 47px;
    right: 12%;
  }
}

.elements__action-fullscreen {
  position: absolute;
  right: 14%;

  @media (min-width: $tablet-width) {
    bottom: 65px;
    right: 6%;
  }

  @media (min-width: $desktop-width) {
    bottom: 47px;
    right: 5%;
  }
}

.elements__action-replay:hover,
.elements__action-subtitles:hover,
.elements__action-fullscreen:hover {
  @media (min-width: $tablet-width) {
    opacity: 60%;
  }
}

.elements__action-replay:active,
.elements__action-subtitles:active,
.elements__action-fullscreen:active {
  @media (min-width: $tablet-width) {
    opacity: 30%;
  }
}
