.features__list {
  margin: 0;
  margin-bottom: 8px;
  padding: 0;
  list-style: none;
  background-color: $white;
  text-align: left;
  // padding-top: 267px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 0;
    padding-top: 132px;
    padding-bottom: 34px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 54px;
  }
}

.features__item {
  color: $black;
  margin-left: 69px;
  padding-bottom: 12px;
  padding-right: 46px;

  @media (min-width: $tablet-width) {
    margin-left: 0;
    padding-right: 0;
  }
}

.features__item--house {
  position: relative;
  padding-top: 34px;

  @media (min-width: $tablet-width) {
    padding-top: 26px;
  }
}

.features__icon-house {
  position: absolute;
  left: -47px;
  top: 25px;

  @media (min-width: $tablet-width) {
    width: 76px;
    height: 70px;
    top: -72px;
    left: calc(50% - 39px);
  }
}

.features__item--gift {
  position: relative;

  @media (min-width: $tablet-width) {
    grid-column-start: 3;
    grid-column-end: 4;
    padding-top: 26px;
  }
}

.features__icon-gift {
  position: absolute;
  left: -44px;
  top: -10px;

  @media (min-width: $tablet-width) {
    width: 64px;
    height: 75px;
    top: -74px;
    left: calc(50% - 33px);
  }
}

.features__item--burger {
  position: relative;

  @media (min-width: $tablet-width) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    padding-top: 26px;
  }
}

.features__icon-burger {
  position: absolute;
  left: -51px;
  top: -6px;

  @media (min-width: $tablet-width) {
    width: 76px;
    height: 70px;
    top: -69px;
    left: calc(50% - 39px);
  }
}

.features__title {
  margin: 0;
  padding-bottom: 3px;

  @media (min-width: $tablet-width) {
    // padding-right: 37px;
    padding-bottom: 8px;
    padding-left: 3px;
    font-size: 21px;
    text-align: center;
    // padding-left: 50px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
  }
}

.features__description {
  font-size: 14px;
  line-height: 21px;

  @media (min-width: $tablet-width) {
    padding-left: 15%;
    padding-right: 15%;
  }

  @media (min-width: $desktop-width) {
    padding-right: 57px;
    padding-left: 55px;
    font-size: 14px;
  }
}

.features__description--burger {
  @media (min-width: $tablet-width) {
    padding-left: 20%;
    padding-right: 20%;
  }

  @media (min-width: $desktop-width) {
    padding-left: 14%;
    padding-right: 14%;
  }
}

.features__description--gift {
  @media (min-width: $tablet-width) {
    padding-left: 12%;
    padding-right: 12%;
  }

  @media (min-width: $desktop-width) {
    padding-left: 26%;
    padding-right: 26%;
  }
}
