.features__list {
  margin: 0;
  margin-top: 25px;
  margin-bottom: 35px;
  padding: 0;
  list-style: none;
  background-color: $white;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.features__item {
  color: $black;
}

.features__title {
  margin: 0;
  padding-bottom: 28px;
}
