.feedback {
  margin-top: 36px;
  margin-bottom: 48px;

  @media (min-width: $tablet-width) {
    margin-bottom: 97px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 102px;
  }
}

.feedback__wrapper {
  @media (min-width: $tablet-width) {
    padding: 0 60px;
  }

  @media (min-width: $desktop-width) {
    margin: auto;
    max-width: 1072px;
  }
}

.feedback__form {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.feedback__button {
  @media (max-width: $tablet-width) {
    grid-row-start: 5;
    grid-row-end: 6;
  }
}

.feedback__required {
  @media (max-width: $mobile-width-only) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    text-align: right;
  }
}

.personality-info {
  border: none;
  padding: 0;
  margin-bottom: 46px;

  @media (min-width: $tablet-width) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    padding-left: 80px;
  }
}

.personality-info__legend {
  font-size: 21px;
  font-weight: bold;
  padding-bottom: 19px;
}

.personality-info__label {
  font-size: 14px;
}

.personality-info__item {
  padding-bottom: 20px;
}

.contacts-info {
  border: none;
  padding: 0;
  margin-bottom: 49px;

  @media (min-width: $tablet-width) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-bottom: 51px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.contacts-info__legend {
  font-size: 21px;
  font-weight: bold;
  padding-bottom: 17px;

  @media (min-width: $tablet-width) {
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 71px;
  }
}

.contacts-info__label {
  font-size: 14px;
  display: block;

  @media (min-width: $desktop-width) {
    display: inline-block;
  }
}

.contacts-info__item {
  padding-bottom: 20px;

  @media (min-width: $desktop-width) {
    padding-right: 80px;
  }
}

.impress-info {
  border: none;
  padding: 0;
  margin-bottom: 47px;

  @media (min-width: $tablet-width) {
    grid-row-start: 1;
    grid-row-end: 2;
    margin-bottom: 75px;
  }
}

.impress-info__legend {
  font-size: 21px;
  font-weight: bold;
  padding-bottom: 25px;
}

.impress-info__label {
  font-size: 18px;
  font-weight: bold;
}

.impress-info__radio {
  padding-bottom: 21px;

  @media (min-width: $tablet-width) {
    padding-bottom: 30px;
  }
}

.place-info {
  border: none;
  padding: 0;
  margin-bottom: 51px;

  @media (min-width: $tablet-width) {
    grid-column-start: 1;
    grid-column-end: 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 75px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.place-info__checkbox--bridge {
  @media (min-width: $tablet-width) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }
}

.place-info__checkbox--mountain {
  @media (min-width: $tablet-width) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
}

.place-info__checkbox--park {
  @media (min-width: $tablet-width) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
}

.place-info__checkbox--rock {
  @media (min-width: $tablet-width) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
}

.place-info__legend {
  font-size: 21px;
  font-weight: bold;
  padding-bottom: 25px;

  @media (min-width: $tablet-width) {
    text-align: center;
    padding-bottom: 80px;
  }
}

.place-info__label {
  font-weight: bold;

  @media (min-width: $desktop-width) {
    padding-right: 45px;
  }
}

.place-info__checkbox {
  padding-bottom: 34px;

  // @media (min-width: $desktop-width) {
  //   padding-right: 30px;
  // }
}

.response-info {
  border: none;
  padding: 0;
  margin-bottom: 51px;

  @media (min-width: $tablet-width) {
    grid-column-start: 1;
    grid-column-end: 3;
    margin-bottom: 58px;
  }
}

.response-info__legend {
  font-size: 21px;
  font-weight: bold;
  padding-bottom: 15px;
}

.response-info__text {
  margin: 0;
  padding: 0;
  padding-bottom: 51px;
}
