.feedback {
  margin-top: 36px;
  margin-bottom: 48px;
}

.personality-info {
  border: none;
  padding: 0;

  legend {
    font-weight: bold;
    padding-bottom: 19px;
  }

  label {
    font-size: 14px;
  }
}

.personality-info__item {
  padding-bottom: 20px;
}

.contacts-info {
  border: none;
  padding: 0;

  legend {
    font-weight: bold;
    padding-bottom: 17px;
  }

  label {
    font-size: 14px;
  }
}

.contacts-info__item {
  padding-bottom: 20px;
}

.impress-info {
  border: none;
  padding: 0;

  legend {
    font-weight: bold;
    padding-bottom: 25px;
  }

  label {
    font-weight: bold;
  }
}

.impress-info__radio {
  padding-bottom: 21px;
}

.place-info {
  border: none;
  padding: 0;

  legend {
    font-weight: bold;
    padding-bottom: 25px;
  }

  label {
    font-weight: bold;
  }
}

.place-info__checkbox {
  padding-bottom: 34px;
}

.response-info {
  border: none;
  padding: 0;

  legend {
    font-weight: bold;
    padding-bottom: 15px;
  }
}

.response-info__text {
  padding-bottom: 51px;
}
