.page-footer__hashtag {
  margin-bottom: 34px;
  padding-right: 4px;
}

.page-footer__link {
  font-size: 21px;
  font-weight: bold;
  color: $black;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    padding-left: 10px;
  }
}

.page-footer__wrapper {
  padding: 32px 84px 0 85px;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 61px 0 48px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 110px;
    padding-right: 120px;
    padding-top: 32px;
    background-color: $white;
  }
}
