.page-footer__hashtag {
  margin-bottom: 34px;
  padding-top: 28;
  font-weight: bold;
}

.social__list {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  list-style: none;
}

.copyright__text {
  font-size: 14px;
}

.page-footer__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    padding: 0 27px 0 32px;
  }

  @media (min-width: $desktop-width) {
    margin: auto;
    max-width: 1072px;
  }
}
