.page-footer__hashtag {
  margin-bottom: 34px;
  padding-right: 4px;
}

.page-footer__link {
  font-size: 21px;
  font-weight: bold;
  color: $black;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    padding-left: 10px;
  }
}

.social__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 36px;
  margin: 0;
  margin-bottom: 43px;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    padding-right: 10px;
  }
}

.page-footer__wrapper {
  padding: 32px 84px 0 85px;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // padding-left: 40px;
    // padding-right: 48px;
    // display: grid;
    // grid-template-columns: 1fr 1fr 1fr;
    padding: 32px 61px 0 48px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 110px;
    padding-right: 120px;
    // padding-top: 105px;
    padding-top: 30px;
    background-color: $white;
  }
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9px;

  // @media (min-width: $tablet-width) {
  //   padding-bottom: 45px;
  // }
}

.copyright__text {
  margin: 0;
  font-size: 14px;

  @media (min-width: $tablet-width) {
    padding-bottom: 40px;
  }
}

.copyright__icon-academy {
  padding-top: 5px;

  @media (min-width: $tablet-width) {
    padding-bottom: 35px;
  }
}

.social__item {
  position: relative;
  z-index: 1;
  padding-top: 9px;
}

.social__link--twitter::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: -18px;
  top: -6px;
  width: 46px;
  height: 48px;
  background-color: $blue;
}

.social__link--facebook::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: -18px;
  top: -5px;
  width: 46px;
  height: 48px;
  background-color: $blue;
}

.social__link--youtube::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: -11px;
  top: -6px;
  width: 46px;
  height: 48px;
  background-color: $blue;
}
