.page-header {
  // display: grid;
  // grid-template-columns: 1fr 1fr;
  display: flex;
  flex-direction: column;
  background-color: $white;
  color: $black;
}

.page-header__logo {
  height: 84px;
  text-align: center;

  @media (min-width: $desktop-width) {
    height: 97px;
  }
}
