.page {
  height: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.page__body {
  min-height: 100%;
  margin: 0;
  background-color: $white;
  color: $black;
  text-align: center;

  @media (min-width: $desktop-width) {
    background-color: $grey;
    padding: 0 40px 0 40px;
  }
}
