.page {
  height: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.page__body {
  min-height: 100%;
  margin: 0;
  background-color: $white;
  color: $black;
  text-align: center;

  @media (min-width: $desktop-width) {
    max-width: 1200px;
    margin: 0 auto;
    background-color: $grey;
    box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
  }
}
