.presentation {
  margin-bottom: 77px;

  @media (min-width: $desktop-width) {
    margin-bottom: 121px;
  }
}

.presentation__wrapper {
  @media (min-width: $tablet-width) {
    padding: 0 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 240px;
  }
}

.presentation__title {
  padding-bottom: 39px;
  text-align: center;
}

.presentation__description {
  padding-bottom: 33px;
  text-align: center;
}

.elements__list {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: $palegrey;
}

.presentation__image--screen {
  @media (min-width: $tablet-width) {
    width: 648px;
  }

  @media (min-width: $desktop-width) {
    width: 800px;
  }
}
