.presentation {
  margin-bottom: 49px;
}

.presentation__title {
  padding-bottom: 39px;
}

.presentation__description {
  padding-bottom: 33px;
}

.elements__list {
  list-style: none;
  padding: 0;
}
