// Colors

$blue: #81b3d2;
$light-grey: #eeeeee;
$white: #ffffff;
$black: #000000;
$extrablack: #010101;
$hoverblue: #669ec0;
$activeblue: #5496bd;

// Viewports

$tablet-width: 768px;
$desktop-width: 1280px;
$mobile-width-only: 767px;
